<nav class="navbar">
    <div class="container">
      <div class="navbar-left">
        <div class="logo">
          <a href="#">
            <img src="https://th.bing.com/th/id/OIP.0uDHrm-b91-UpZ_QsuJ8VgAAAA?rs=1&pid=ImgDetMain" alt="HackerOne" />     BUG BOUNTY
          </a>
        </div>
      </div>
      
      <div class="navbar-right">
        <div class="nav-dropdown-links">
          <!-- <a href="#" class="nav-link">Services ▼</a> -->
          <!-- <a href="#" class="nav-link">Solutions ▼</a>
          <a href="#" class="nav-link">Partners ▼</a>
          <a href="#" class="nav-link">Researchers ▼</a>
          <a href="#" class="nav-link">Resources ▼</a>
          <a href="#" class="nav-link">Company ▼</a> -->
        </div>
        
        <div class="navbar-actions">
          <a href="/home" class="auth-link">Home</a>
          <a href="#" class="auth-link"></a>
          <a href="/login" class="auth-link">Login</a>
          <a href="/signup" class="auth-link">SignUp</a>
          <a href="/services" class="auth-link">Services</a>
          <a href="#" class="auth-link">Leaderboard</a>
          <a href="/about-us" class="auth-link">About Us</a>
          <a href="/contact" class="contact-us-button">
            Contact Us
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" class="ms-2">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </nav>