<app-navbar-dev (solvedBugsClicked)="showSolvedBugs()" (acceptedBugsClicked)="showAcceptedBugs()" (rejectedBugsClicked)="showRejectedBugs()" ></app-navbar-dev>
<div class="container" >
      <div class="filter-container" *ngIf="showFilters">
          <div class="filter-group">
              <label for="difficulty">Difficulty</label>
              <select 
                  id="difficulty" 
                  class="filter-select" 
                  [(ngModel)]="selectedDifficulty" 
                  (change)="applyFilters()"
              >
                  <option value="">All</option>
                  <option 
                      *ngFor="let difficulty of difficulties" 
                      [value]="difficulty"
                  >
                      {{difficulty}}
                  </option>
              </select>
          </div>
          
          <div class="filter-group">
              <label for="tech-stack">Tech Stack</label>
              <select 
                  id="tech-stack" 
                  class="filter-select"
                  [(ngModel)]="selectedTechStack"
                  (change)="applyFilters()"
              >
                  <option value="">All</option>
                  <option 
                      *ngFor="let stack of techStacks" 
                      [value]="stack"
                  >
                      {{stack}}
                  </option>
              </select>
          </div>
    
      </div>


 <div class="bug-list">
    <div *ngFor="let bug of filteredBugs" class="bug-card">
        <div class="bug-header">
            <h3>{{ bug.title }}</h3>
            <!-- <span class="favorite">★</span> -->
        </div>
        
        <p class="bug-description">{{ bug.description.length > 130 ? (bug.description | slice:0:130) + '...' : bug.description }}</p>
        
        <div class="bug-details">
            <span class="difficulty">{{ bug.difficulty }}</span>
            <span class="tech">{{ bug.techStack }}</span>
        </div>
        
        <div class="bug-icons">
            <span>
                <img src="https://www.svgrepo.com/show/376243/status-success.svg" alt="Claim" class="img1">
                <span class="status">{{ bug.status }}</span>
            </span>
            <span>
                <img src="https://www.svgrepo.com/show/376246/status-warning.svg" alt="Reward" class="img2">
                <span class="reward">{{ bug.reward }}</span>
            </span>
        </div>
        
        <button [routerLink]="'/bug/' + bug.id" class="see-details">See Details</button>
    </div>
</div>
</div>

  
  